@import "../utils/mixin";
.advantages {
    margin-bottom: 120px;
    &__box {
        text-align: left;
        font-size: 14px;
        font-style: normal;
        .advantages-list {
            @include displayFlex ($gap: 30px, $alignItems: center, $justifiContent: center, $flexDirection: row );
            flex-wrap: wrap;
            &__item {
                width: 100%;
                &::before{
                    content: url(../icomoon/SVG/antenna.svg);
                    padding: 25px 190px;
                    border-radius: 4px;
                    background-color: #F5F4FA;
                    margin-bottom: 20px;
                    @include displayFlex ($gap: 0, $alignItems: center, $justifiContent: center, $flexDirection: row );
                }
                &:nth-child(2)::before{
                    content: url(../icomoon/SVG/clock.svg);
                }
                &:nth-child(3)::before{
                    content: url(../icomoon/SVG/diagram.svg);
                }
                &:nth-child(4)::before{
                    content: url(../icomoon/SVG/astronaut.svg);
                }
            }
            &__name {
                color: #212121;
                text-align: center;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.42px;
                text-transform: uppercase;
                padding: 10px 0;
            }
            &__description {
                color: #757575;
                font-weight: 400;
                line-height: 24px; /* 171.429% */
                letter-spacing: 0.42px;
            }
        }
    }
}
@media (min-width:768px){
        .advantages{
            .advantages-list{
                &__item{
                    width: 354px;
                    &::before{
                        padding: 25px 142px;
                    }
                }
                &__name{
                    text-align: left;
                }
            }
        }

}
@media (min-width:1200px){
    .advantages{
        .advantages-list{
            &__item{
                width: 270px;
                &::before{
                    padding: 25px 102px;
                }
            }
        }
    }
}