@import "../utils/mixin";
@import "../utils/each";
.team {
    margin: 0 0 120px 0;
    &__box {
        @include displayFlex ($gap: 30px, $alignItems: center, $justifiContent: center, $flexDirection: column );
    }
    &__content-box {
        @include displayFlex ($gap: 30px, $alignItems: center, $justifiContent: center, $flexDirection: row );
        flex-wrap: wrap;
    }
    &__item {
        width: 100%;
        @include displayFlex ($gap: 10px, $alignItems: center, $justifiContent: center, $flexDirection: column );
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        color: #212121;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.48px;
    }
    &__img {
        width: 100%;
        margin-bottom: 20px;
    }
    &__position {
        color: #757575;
        font-weight: 400;
        margin-bottom: 6px;
    }
    .team-social-list {
        @include displayFlex ($gap: 10px, $alignItems: center, $justifiContent: center, $flexDirection: row);
        &__item {
            @include displayFlex ($gap: 0, $alignItems: center, $justifiContent: center, $flexDirection: row);
            margin-bottom: 14px;
            border-radius: 20px;
            overflow: hidden;
        }
        &__link {
            width: 100%;
            padding: 12px;
            @include displayFlex ($gap: 0, $alignItems: center, $justifiContent: center, $flexDirection: row);
            transition: all 200ms;
            fill: #AFB1B8;
            &:hover{
                background-color: #2196F3;
                fill: #fff;
            }
        }
    }
}
@media (min-width:768px){
    .team__item{
        width: 354px;
    }
    .team__img{
        height: 374px;
    }
}
@media (min-width:1200px){
    .team__item{
        width: 270px;
    }
    .team__img{
        height: 260px;
    }
}
