body{
    font-family: Roboto;
    color: #000;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, li, menu, p {
    margin: 0;
    padding: 0;
}
button{
    margin: 0;
    padding: 0;
    color: #fff;
    border: none;
}
.container {
    width: 480px;
    padding: 0 15px;
    margin: 0 auto;
}
.logo {
    color: #000;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
}
.logo--blue {
    color: #2196F3;
}